# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.production

# Vercel
.vercel

# Logs
logs/
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
